.deal {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subtitle {
	max-width: 350px;
	font-family: var(--font-hind-madurai);
	font-weight: 600;
	font-size: 44px;
	line-height: 48px;
}

.title {
	margin-bottom: 35px;
	font-family: var(--font-fredoka);
	font-size: 57px;
	line-height: 70px;
}

.title span {
	color: var(--accent-color);
}

.substring {
	margin-bottom: 50px;
	max-width: 523px;
	font-family: var(--font-roboto);
	font-size: 16px;
	line-height: 24px;
}

.img {
	height: 500px;
	object-fit: cover;
}