.media_wrapper {
	grid-area: media;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.media_title {
	font-weight: 500;
	color: var(--white-color);
}

.list {
	display: flex;
	gap: 10px;
}

.item {}

.nav_link {}

.image {
	width: 15px;
	height: 15px;
}