.footer {
	padding: 70px 0 104px;
	background-color: var(--black-0a0);
	color: var(--white-color);
	font-size: 12px;
	color: var(--white-007);
}

.wrapper {
	display: grid;
	/* grid-template-columns: repeat(6, minmax(187px, 1fr));
	grid-template-rows: 1fr 1fr 1fr; */

	grid-template-areas:
		'logo logo logo logo '
		'quote nav menu form '
		'media nav menu payments ';

}

.quote {
	grid-area: quote;
	max-width: 207px;
}