@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Hind+Madurai:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
	--white-color: #ffffff;
	--white-007: rgba(255, 255, 255, .7);
	--white-faf: #fafafa;

	--black-color: #000000;
	--black-007: rgba(0, 0, 0, .7);
	--black-150: #150101;
	--black-0a0: #0a0808;

	--light-brand: #f2ceda;
	--light-f8e: #f8edf0;

	--brand-color: #c55f80;
	--accent-color: #d23166;
	--accent-f67: #f6762c;

	--hover-time: .4s;

	--font-roboto: 'Roboto', sans-serif;
	--font-hind-madurai: 'Hind Madurai', sans-serif;
	--font-fredoka: 'Fredoka One', cursive;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

body {
	font-family: var(--font-roboto);
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	color: var(--black-color);
}

.container {
	padding: 0 15px;
	max-width: 1155px;
	margin: 0 auto;
}

.app {
	max-width: 1600px;
	margin: 0 auto;
}